.button{
    border: 2px solid var(--pink);
    border-radius: 40px;
    padding: 13px 27px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button_white{
    color: var(--dark);

    &:hover {
        color: #fff;
        background-color: var(--pink);
        transform: scale(1.05); /* маленький ефект збільшення при наведенні */
    }

    &:active {
        background-color: var(--dark);
    }
}

.button_pink{

}