.button{
    border-radius: 40px;
    padding: 13px 27px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button_pink{
    border: 2px solid var(--pink);
    color: var(--dark);
    background-color: #fff;

    &:hover {
        color: #fff;
        background-color: var(--pink);
        transform: scale(1.05); /* маленький ефект збільшення при наведенні */
    }

    &:active {
        background-color: var(--dark);
    }
}

.button_white{
    width: 170px;
    border: 2px solid #fff;
    color: #fff;
    background-color: var(--pink);

    &:hover {
        color: var(--dark);
        background-color: #fff;
        transform: scale(1.05); /* маленький ефект збільшення при наведенні */
    }

    &:active {
        color: #fff;
        background-color: var(--dark);
    }
}

.button_buy{
    width: 130px;
    border: 2px solid var(--pink);
    color: #fff;
    background-color: var(--pink);

    &:hover {
        color: var(--dark);
        background-color: #fff;
        transform: scale(1.05); 
    }

    &:active {
        color: #fff;
        background-color: var(--dark);
    }
}